.git/
.gitignore
.vscode/
.idea/
**/.vs/

client/node_modules/
client/build/
client/.react-router/

server/**/bin/
server/**/obj/

server/Krea.API.Tests/

**/*.timestamp-*.mjs
**/*.user
**/*.suo
.env
