# Created by https://www.toptal.com/developers/gitignore/api/deno,direnv
# Edit at https://www.toptal.com/developers/gitignore?templates=deno,direnv

### Deno ###
/.idea/
/.vscode/

/node_modules

.env
*.orig
*.pyc
*.swp

### direnv ###
.direnv

# End of https://www.toptal.com/developers/gitignore/api/deno,direnv
